.container{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.line{
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: rgb(212, 89, 0);
}

.line1{
    z-index: 15;
    opacity: 0.5;
}

.line2{
    z-index: 10;
    opacity: 0.5;
}

.line3{
    z-index: 5;
}

.wave{
    /* position:absolute; */
    /* left: 0; */
    bottom: 0;
    overflow: hidden;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.wave1{
    width: 300%;
    bottom: -50px;
    animation: animatew1 8s linear infinite;
}

.wave2{
    height: 20%;
    width: 200%;
    animation: animatew2 17s linear infinite;
}

.wave3{
    height: 30%;
    width: 200%;
    animation: animatew3 42s linear infinite;
}

@keyframes animatew1{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    
    25%{
        transform: translateX(-10%) translateZ(0) scaleY(0.75);
    }

    50%{
        transform: translateX(-20%) translateZ(0) scaleY(0.5);
    }
    
    75%{
        transform: translateX(-15%) translateZ(0) scaleY(0.75);
    }

    100%{
        transform: translateX(0%) translateZ(0) scaleY(1);
    }
}

@keyframes animatew2{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    
    25%{
        transform: translateX(-25%) translateZ(0) scaleY(0.25);
    }

    50%{
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
    
    75%{
        transform: translateX(-25%) translateZ(0) scaleY(0.50);
    }

    100%{
        transform: translateX(0%) translateZ(0) scaleY(1);
    }
}

@keyframes animatew3{
    0%{
        transform: translateX(0) translateZ(0) scaleY(0.75);
    }
    
    25%{
        transform: translateX(-30%) translateZ(0) scaleY(0.5);
    }

    50%{
        transform: translateX(-50%) translateZ(0) scaleY(0.42);
    }
    
    75%{
        transform: translateX(-30%) translateZ(0) scaleY(0.5);
    }

    100%{
        transform: translateX(0%) translateZ(0) scaleY(0.75);
    }
}

